body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("./images/repeatingbackground.jpg");
    display: flex;
    flex-direction: column;
}

li,
a {
    list-style: none;
    text-decoration: none;
    color: black;
}

/* navigation bar */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links,
.logo {
    padding: 2.5rem;
}

.links {
    display: flex;
    gap: 2rem;
}

.logo>a {
    font-size: 2rem;
    font-weight: bold;
}

.link>a {
    font-size: 1.2rem;
}

/* main content */

main {
    width: 100%;
}

/* content 1 */

.content-1 {
    display: flex;
    justify-content: center;
    gap: 300px;
    padding: 2rem;
}

.content-1-left {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-1-left>button {
    max-width: 200px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.content-1-right {
    display: flex;
    flex: 1;
}

.content-1-right>img {
    max-width: 500px;
    border: 5px solid #f8a8ff;
}

/* content 2 */

.content-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-2-bot {
    display: flex;
    gap: 20px;
}

.content-2-bot-div {
    border: 5px solid #f8a8ff;
    background-color: #f8a8ff;
    text-align: center;
}

/* content 3 */

.content-3 {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
}

.content-3-quote {
    display: flex;
    font-size: 2rem;
    max-width: 600px;
}

.content-3-name {
    font-size: 1.5rem;
    margin-left: 25%;
    margin-top: 2%;
    font-weight: bold;
}

/* content 4 */




/* footer */


footer {
    background-color: #f8a8ff;
    width: 100%;
}